/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f9f9f9;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header/Navbar */
header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: #333;
  font-size: 1.5rem;
}

.logo:hover {
    cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #555;
}

nav ul li a:hover {
  font-weight: bold;
  color: #000;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    width: 100%;
    display: none; /* hidden by default */
  }

  nav.show {
    display: block;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  nav ul li {
    text-align: left;
  }

  .btn {
    display: inline-block;
    margin-top: 10px;
  }
}

.btn {
  background-color: #000;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
    color: #fff;
    background-color: #000;
    font-weight: bold;
}

/* Hero Section */
.hero {
  background-color: #fcefe6;
  color: #212529;
  padding: 2.5rem 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-weight: lighter;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

/* Featured Books */
.featured {
  padding: 3rem 0;
  background-color: #fff;
}

.section-title {
  text-align: start;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 3rem;
}

.book-card {
  background-color: #fafafa;
  padding: 0.2;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s ease;
  width: 200px;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: auto;
  height: 250px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.bg-category {
  background-color: #f8f9fa;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.bg-category:hover {
  background-color: #e0e0e0;
}

.categories {
    border-top: 1px solid #ebe1e1;
}
/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}
